.header {
  min-height: 100px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,5,136,1) 51%, rgba(2,0,36,1) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin: 12px 0;

  h1 {
    color: white;
    font-size: 48px;
  }

  span {
    width: 100%;
    color: white;
    font-size: 16px;
    border-top: 3px dashed white;
    border-bottom: 3px dashed white;
    text-transform: uppercase;
  }
}

.btn_group {
  button {
    background: #1899d6;
    border-radius: 16px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    outline: none;
    text-align: center;
    padding: 10px 16px;
    margin: 2px;
  }
}

