* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/marvel.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.activeBtn {
  background: #581559;
}

html[data-theme='dark'] {
  --background-color: aquamarine;
  --color: crimson;
  --background-color-card: #002aff;
  --color-card: red;
}

html[data-theme='light'] {
  --background-color: #f6f6f6;
  --color: black;
  --background-color-card: #f1f1f1;
  --color-card: black;
}